<p id="notice"><%= notice %></p>
<div class="table-wrapper">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-6">
          <h1>Listing Schedules</h1>
      </div>
    </div>
  </div>


  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID Vehículo</th>
        <th>ID Conductor</th>
        <th>ID Ruta</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @schedules.each do |schedule| %>
        <tr>
          <td><%= schedule.vehicle_id %></td>
          <td><%= schedule.driver_id %></td>
          <td><%= "#{schedule.route_id} (#{schedule.route.starts_at}- #{schedule.route.ends_at})" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Vehicle', new_vehicle_path %>
</div>
