<%= form_for(@route) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :starts_at %><br>
    <%= f.datetime_select :starts_at %>
  </div>
  <div class="field">
    <%= f.label :ends_at %><br>
    <%= f.datetime_select :ends_at %>
  </div>
  <div class="field">
    <%= f.label :load_type %><br>
    <%= f.select :load_type, LoadType.to_a%>
  </div>
  <div class="field">
    <%= f.label :load_sum %><br>
    <%= f.number_field :load_sum, step: :any  %>
  </div>
  <div class="field">
    <%= f.label :stops_amount %><br>
    <%= f.number_field :stops_amount %>
  </div>

  <div class="field">
    <%= f.label :city_ids %><br>
    <%= f.collection_select :city_ids, City.all, :id, :name, {}, {:multiple => true}%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
