<p id="notice"><%= notice %></p>
<div class="table-wrapper">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-6">
        <h1>Listing Routes</h1>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Load type</th>
        <th>Load sum</th>
        <th>Stops amount</th>
        <th>Vehicle</th>
        <th>Driver</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @routes.each do |route| %>
        <tr>
          <td><%= route.starts_at %></td>
          <td><%= route.ends_at %></td>
          <td><%= route.load_type %></td>
          <td><%= route.load_sum %></td>
          <td><%= route.stops_amount %></td>
          <td><%= route.vehicle %></td>
          <td><%= route.driver %></td>
          <td><%= link_to 'Show', route %></td>
          <td><%= link_to 'Edit', edit_route_path(route) %></td>
          <td><%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Route', new_route_path %>
</div>