<%= form_for(@driver) do |f| %>
  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% @driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :max_stops %><br>
    <%= f.number_field :max_stops %>
  </div>

  <div class="field">
    <%= f.label :city_ids %><br>
    <%= f.collection_select :city_ids, City.all, :id, :name, {}, {:multiple => true}%>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
