<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :capacity %><br>
    <%= f.number_field :capacity, step: :any  %>
  </div>
  <div class="field">
    <%= f.label :load_type %><br>
    <%= f.select :load_type, LoadType.to_a%>
  </div>
  <div class="field">
    <%= f.label :driver_id %><br>
    <%= f.select :driver_id, Driver.all.collect {|p| [ p.name, p.id ]},{ include_blank: true }%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
